# 依赖目录
node_modules/

# 构建输出
dist/
build/

# 日志文件
*.log

# 环境文件
.env
.env.local

# 编辑器配置
.vscode/
.idea/

# 操作系统文件
.DS_Store
Thumbs.db

# 缓存文件
.cache/
.npm/

# pnpm 特定文件
.pnpm-store/

# 测试覆盖率报告
coverage/

# 临时文件
*.tmp
*.temp

# docs
docs/.vitepress/cache
docs/.vitepress/dist
docs/.vitepress/.temp
docs/.vitepress/data/iconNodes
docs/.vitepress/data/iconMetaData.ts
docs/.vitepress/data/releaseMetaData.json
docs/.vitepress/data/releaseMetaData
docs/.vitepress/data/categoriesData.json
docs/.vitepress/data/iconDetails
docs/.vitepress/data/relatedIcons.json
docs/.vercel
docs/.nitro